*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: #FF9A4B;
}

.main-visual {
    width: 960px;
    margin: 50px auto;
    display: flex;
}

.main-visual1 {
    width: 300px;
    margin-right: 30px;
    background-color: #EEEEEE;
    position: static;
    padding: 10px;
}

.main-visual1:last-child {
    margin-right: 0;
}

.main-visual1-content1 {
    width: 60px;
    height:30px;
    background-color: #FF9A4B;
    position:absolute;
}

.main-visual1-text1 {
    text-align: center;
    line-height: 30px;
    color: #EEEEEE;

}

.main-visual1-content2 {
    width: 280px;
    height: 150px;
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.main-visual2-content2 {
    width: 280px;
    height: 150px;
    background-image: url(img/flow02.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.main-visual3-content2 {
    width: 280px;
    height: 150px;
    background-image: url(img/flow03.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
}

.main-visual1-content3 {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.main-visual1-title3 {
    margin-bottom: 5px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
    header {
        width: 100%;
    }   

    .main-visual {
        width: 100%;
        margin: 50px auto;
        display: block;
    }

    .main-visual1 {
        width: 90%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-visual1:last-child {
        margin-right: auto;
        margin-left: auto;
    }

    .main-visual1-content2 {
        width:auto;
        height: 150px;
    }

    .main-visual2-content2 {
        width: auto;
        height: 150px;
    }

    .main-visual3-content2 {
        width: auto;
        height: 150px;
    }

    .main-visual1-content3 {
        width: auto;
    }

    footer {
        width: 100%;
    }
}